<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <add name="localhost_NorthwindConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=Northwind" />
    <add name="localhost_NorthwindConnection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=Northwind" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
